:root {
	--clr-base: #374374;
	--clr-base-light: #7A859F;
	--clr-base-dark: #000;
	--clr-title: #363C56;
	--clr-att: #374374;
	--clr-att-second: #4c61b4;
	--clr-bg-att: #374374;
	--clr-bg-light: #EDF0F5;
	--clr-border: #374374;
	--clr-alert: #F55760;
	--clr-succefull: #32B782;

	--fsize: 18px;
	--lhsize: 1.333;
	--mbsize: 1.333em;
	--marginSection: 90px;

	--mainRadius: 10px;
	--icoSize: 24px;


	--min: 360px;
	--max: 1800px;
    
    --paddingContainer: 15px;

	--filterBlack: brightness(0) grayscale(1);
	--filterWhite: brightness(0) invert(1);

	font-size: 10px;
}
.sl-wrap:not(.swiper-slide)~.sl-wrap {
	display: none;
}
.elm-hidden {
	display: none;
}
/* 400-500-600-700 */
.ftitle {
	font-family: 'Cormorant Garamond', serif;
	* {
		font-family: 'Cormorant Garamond', serif;
	}
}
/*  200-300-400-500-600-700 */
.fmain {
	font-family: 'Onest', sans-serif;
	* {
		font-family: 'Onest', sans-serif;
	}
}
/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
	color: var(--clr-base);
	background: #fff;
    font-size: var(--fsize);
    line-height: var(--lhsize);
	font-weight: 400;
	letter-spacing: -0.02em;
}
p, ul, ol, table, blockquote, .bq-text {
	position: relative;
    margin-bottom: var(--mbsize);
	img {
		max-width: 100%;
	}
	&:last-child {
		margin-bottom: 0 !important;
	}
}
li {
	position: relative;
	padding-left: 1.2em;
	line-height: 1.2em;
	&:before {
		width: 4px;height: 4px;
		content: "";
		display: block;
		position: absolute;
		top: 0.6em;left: 0;
		margin-top: -2px;
		border-radius: 50%;
		background: currentColor;
	}
}
.menu, .list {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
        &:before {
            display: none;
        }
    }
}
ol {
	padding-left: 1.2em;
	list-style: decimal;
	list-style-position: outside;
	li {
		padding-left: 0;
		&:before {
			display: none;
		}
	}
}
a {
    text-decoration: none;
    color: var(--clr-att);
    &:hover {
        text-decoration: none;
        color: var(--clr-att-second);
    }
}
a.link-main, .link-main {
    text-decoration: none;
    border-bottom: 1px solid;
}
.link-phone, .link-email, .link-location {
    white-space: nowrap;
	display: inline-block;
	position: relative;
//	padding-left: 28px;
//	line-height: 1.2;
	color: inherit;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
//	&:before {
//		content: "";
//		display: block;
//		width: 24px;
//		height: 24px;
//		position: absolute;
//		background: url(../img/icons/link-phone.svg) center no-repeat;
//		background-size: 100% auto;
//		top: 0.6em;
//		left: 0;
//		margin-top: -12px;
//	}
	&.link-text {
		display: inline;
		padding: 0;
		&:before {
			display: none;
		}
	}
}
.link-email {
	&:before {
		background-image: url(../img/icons/link-email.svg);
	}
}
.link-location {
	white-space: normal;
	&:before {
		background-image: url(../img/icons/link-location.svg);
	}
}
a {
	&.link-phone, &.link-email, &.link-location {
		&:hover {
			color: var(--clr-att);
		}
	}
}
.page-title,
h1, .h1-title,
h2, .h2-title,
h3, .h3-title,
h4, .h4-title,
h5, .h5-title,
h6, .h6-title {
	display: block;
	position: relative;
    font-weight: bold;
    margin: 1em 0;
    &:first-child {
        margin-top: 0;
    }
	&:last-child {
		margin-bottom: 0;
	}
}
.h1-title, h1 {
	font-size: 40px;
	line-height: (56/40);
	letter-spacing: (-1.6/40em);
	margin: 15px 0;
	line-height: (35/30);
	font-weight: 600;
	text-transform: uppercase;
	.ftitle;
	p, ul, li, * {
		margin: 0;
	}
	li {
		padding-left: 1.4em;
		&:before {
			width: 1rem;height: 1rem;
			margin-top: -0.5rem;
			margin-left: -0.5rem;
			left: 0.7em;
		}
	}
}
.h3-title, h3 {
	font-size: 22px;
	line-height: (30/22);
	margin: 30px 0 20px 0;
	font-weight: 400;
	letter-spacing: (-0.66/22em);
}
.text-light, .title-light {
	color: var(--clr-light);
}
.text-base, .title-base {
	color: var(--clr-base);
}
.text-base-light, .title-base-light {
	color: var(--clr-base-light);
}
.text-base, .title-base {
	color: var(--clr-base);
}
.text-att, .title-att {
	color: var(--clr-att);
}
.text-line, .title-line {
	white-space: nowrap;
}
.text-upper, .title-upper {
	text-transform: uppercase;
}
.text-left, .title-left {
	text-align: left;
}
.text-right, .title-right {
	text-align: right;
}
.text-center, .title-center {
	text-align: center;
}
table {
	&.tbl-main {
		thead {
			th, td {
				border-bottom: none;
				border-right: none;
				text-align: left;
				padding: 15px;
				border-color: #fff;
				background: #374067;
				color: #fff;
				font-weight: 400;
				text-transform: uppercase;
				font-size: 21px;
				&:first-child {
					padding: 15px;
					border-left: none;
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
				}
				&:last-child {
					padding: 15px;
					border-top-right-radius: 10px;
					border-bottom-right-radius: 10px;
				}
			}
		}
		th, td {
			font-size: 1em;
			line-height: inherit;
			font-weight: 300;
			padding: 24px 12px;
			vertical-align: middle;
			border: 1px solid var(--clr-border);
			border-top: none;
			&:last-child {
				padding-right: 0;
			}
			&:first-child {
				padding-left: 0;
				border-left: none;
			}
			&:last-child {
				border-right: none;
			}
		}
		.td-info {
			text-transform: none;
			display: block;
			margin-top: 10px;
			font-weight: 300;
			&:first-child {
				margin-top: 0;
			}
		}
		.td-large {
			font-size: (20/18em);
		}
		tr {
			&:has(+tr.row-title) {
				th, td {
					border-bottom: none;
				}
			}
		}
		th, td {
			&:has(.td-title, .btn-tbl-toggle) {
				border-bottom: none;
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.row-toggle {
			&:not(:has(.active)) {
				th, td {
					border-bottom: 1px solid var(--clr-border);
				}
				&~tr {
					display: none;
				}
			}
			th, td {
				border-bottom: none;
			}
			&+tr {
				th, td {
					border-top: 1px solid var(--clr-border);
				}
			}
		}
		.row-title {
			th, td {
				border-top: none !important;;
			}
		}
		.td-title {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: -8px;
			margin-right: -8px;
			position: relative;
			z-index: 2;
			font-weight: 400;
			border-radius: 10px;
			background: #EDF0F5;
			min-height: 68px;
			padding: 10px 18px;
			text-align: left;
			text-transform: uppercase;
			white-space: normal;
			p {
				margin-bottom: 1.3em;
			}
		}
		.btn-tbl-toggle {
			display: flex;
			align-items: center;
			position: relative;
			min-height: 100px;
			padding-right: 60px;
			padding-top: 15px;
			padding-bottom: 15px;
			max-width: 100%;
			white-space: normal;
			&.active {
				.btn-action-ico.ico-toggle:after {
					rotate: 0deg;
				}
			}
			.btn-action-ico.ico-toggle {
				width: 44px;height: 44px;
				top: 50%;right: 0;
				margin-top: -22px;
				position: absolute;
			}
		}
	}
}
@media (max-width: 1799px) {
    :root {
        font-size: 9.5px;
    }
}
@media (max-width: 1599px) {
    :root {
        font-size: 9px;
    }
}
@media (max-width: 1399px) {
    :root {
        font-size: 8.5px;
    }
}
@media (max-width: 1199px) {
    :root {
        font-size: 8px;
    }
}
@media (max-width: 1023px) {
    :root {
        font-size: 7.5px;
    }
	.h1-title, h1 {
		&.title-small {
			font-size: 28px;
		}
	}
}
@media (max-width: 767px) {
    :root {
        font-size: 7px;
    }
}
@media (max-width: 389px) {
	table {
		&.tbl-main {
			font-size: 16px;
			thead {
				th, td {
					font-size: 18px;
				}
			}
		}
	}
}
@media (max-width: 374px) {
	.h1-title, h1 {
		font-size: 35px;
		&.title-small {
			font-size: 25px;
		}
	}
	
}
@media (min-width: 375px) {
	:root {
		--paddingContainer: 20px;
	}
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
    :root {
        --paddingContainer: 30px;
		--marginSection: 18rem;

		--mainRadius: 2rem;

		--fsize: 2.5rem;
		--lhsize: 1.24;
		--mbsize: 1.24em;
    }
	table {
		&.tbl-main {
			&:has(.row-toggle) {
				th, td {
					&:last-child {
						width: 35rem;
					}
				}
			}
			thead {
				th, td {
					font-size: (30/25em);
					line-height: (37/30);
					padding: 3.5rem 5.5rem;
					&:first-child {
						padding: 3.5rem 5.5rem;
					}
					&:last-child {
						padding: 3.5rem 5.5rem;
					}
				}
			}
			th, td {
				padding: 3.5rem 5.5rem;
				&:first-child {
					padding-left: 5.5rem;
				}
				&:last-child {
					padding-right: 5.5rem;
				}
				&:has(.td-large) {
					font-size: 3rem;
				}
			}
			.td-large {
				font-size: 1em;
			}
			.row-toggle {
				th, td {
					padding-left: 0;
					padding-right: 0;
				}
			}
			.btn-tbl-toggle {
				min-height: 128px;
				padding: 3rem 32rem 3rem 5.5rem;
				.btn-action-ico.ico-toggle {
					width: 6.8rem;
					height: 6.8rem;
					margin-top: -3.4rem;
					right: 11.5rem;
				}
				
			}
			.td-title {
				min-height: 98px;
				padding: 3.5rem 5.5rem;
				margin-left: -5.5rem;
				margin-right: -5.5rem;
			}
		}
	}
	h1, .h1-title {
		font-size: 5rem;
		line-height: (56/50);
		letter-spacing: (-2/50em);
		margin: 3rem 0;
	}
	.h3-title, h3 {
		font-size: 25px;
		margin: 40px 0 20px 0;
	}
}
@media (min-width: 1400px) {
    :root {
        --paddingContainer: 40px;
    }
}