
<!-- header -->
<header class="header">
	<!--header-main-panel-->
	<div class="header-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.png" alt="">
				</a>
			</div>
			<div class="actions-inner-wrap">
				<div class="phone-wrap">
					<a href="" class="btn button-link">
						<div class="button-title">+7 999 999-99-99</div>
					</a>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn button-light button-soc">
						<div class="button-ico">
							<img src="./img/icons/telegram.svg" alt="">
						</div>
					</a>
					<a href="" class="btn button-light button-soc">
						<div class="button-ico ico-large">
							<img src="./img/icons/youtube.svg" alt="">
						</div>
					</a>
					<a href="" class="btn button-light button-soc">
						<div class="button-ico">
							<img src="./img/icons/soc03.png" alt="">
						</div>
					</a>
				</div>
				<div class="button-wrap">
					<a href="" class="btn button-light js-popup-open" data-popup="popup-callback">
						<div class="button-title">Онлайн — запись</div>
					</a>
				</div>
			</div>
			<div class="search-inner-wrap">
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input" placeholder="">
				</form>
			</div>
		</div>
	</div>
	<!--/header-main-panel-->
	<!--header-nav-panel-->
	<div class="header-nav-panel popup-menu-wrap cnt-section js-popup-wrap">
		<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
		<div class="inner-wrap popup-content-block js-popup-block">
			<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-popup-close"></a>
			<div class="menu-logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.png" alt="">
				</a>
			</div>
			<div class="menu-inner-wrap">
				<ul class="menu menu-main">
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Услуги</div>
						</a>
						<ul class="menu">
							<li>
								<a href="" class="btn-menu active">
									<div class="button-title">диагностика зубов</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">лечение зубов</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">профилактика зубов</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">протезирование зубов</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">виниры</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">имплантация зубов и&nbsp;хирургическое лечение</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">исправление прикуса</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">лечение дёсен</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">детская стоматология</div>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Акции</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Цены</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Специалисты</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Пациентам</div>
						</a>
						<ul class="menu">
							<li>
								<a href="" class="btn-menu active">

									<div class="button-title">Рассрочка</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Рекомендации пациентам</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Гарантии</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Права и обязанности пациента</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Политика конфиденциальности</div>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">О клинике</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">faq</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-title">Контакты</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="contacts-inner-wrap">
				<div class="info-wrap">
					<a href="tel:89999999999">+7 999 999-99-99</a>
				</div>
				<div class="info-wrap">
					<a href="mailto:personadent@gmail.ru">personadent@gmail.ru</a>
				</div>
			</div>
		</div>
	</div>
	<!--/header-nav-panel-->
</header>
<!-- /header -->